body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
}

@media (min-width: 375px) {

    body {
        background-image: linear-gradient(#ffffff, #f0f1ff);
    }

    header {
        margin: 16px 16px 0 16px;
        max-height: 48px;
        display: flex;
        justify-content: space-between;
    }

    header > img {
        min-width: 89px;
        padding: 6px 0 7px 0;
        margin-top: auto;
        margin-bottom: auto;
    }
    header > button {
        line-height: 28px;
        font-size: 16px;
        letter-spacing: 0;
        font-weight: bold;
        background-color: #13183F;
        color: white;
        border: none;
        border-radius: 28px;
        padding: 9px 24px 11px;
        text-align: center;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
    }

    #left-container {
        margin: 38px 16px 46px;
    }

    #left-container > h1 {
        color: #13183F;
        font-size: 40px;
        letter-spacing: 0;
        font-weight: 800;
        margin: 0;
        margin-bottom: 26px;
    }

    #left-container > p {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0;
        font-weight: 500;
        color: #83869A;
        margin-bottom: 24px;
    }

    #left-container > button {
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0;
        padding: 15px 37px 15px 38px;
        border-radius: 28px;
        background-image: linear-gradient(#ff6f48, #f02aa6);
        border: none;
        color: white;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .hero-image {
        margin: 0 24px;
        max-width: 100%;
    }

    .course-section {
        display: grid;
        max-width: 100%;
        margin: 0 16px 80px; 
        z-index: 3;
    }

    #course-grid-intro {
        background-image: linear-gradient(#ff6f48, #f02aa6);
        padding: 24px 29px 32px 28px;
        border-radius: 10px;
        margin-bottom: 40px;
        z-index: 1;
        overflow: visible;


    }
    
    #course-grid-intro > p {
        color: white;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
        text-align: left;
        margin: 0;
        position: relative;

    }

    .course-grid-item {
      background-color: white;
      margin-bottom: 40px;
      padding: 56px 29px 32px 28px;
      max-height: 259px;
      border-radius: 10px;
      position: relative;
    }

    .course-grid-item > img {
        position: absolute;
        top: -24px;
    }

    .course-grid-item > h2 {
        font-weight: 800;
        font-size: 20px;
        color:#13183F;
        margin-bottom: 16px;
    }

    .course-grid-item > p {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 24px;
        color: #83869A;
    }

    .course-grid-item > a {
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
        color: #f74780;
        text-decoration: none;
    }

    footer {
        display: flex;
        padding: 36px 16px;
        background-color: #13183F;
        justify-content: space-between;
    }

    footer > img {
        min-width: 89px;
        padding: 6px 0 7px 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    footer > button {
        line-height: 28px;
        font-size: 16px;
        letter-spacing: 0;
        font-weight: bold;
        background-image: linear-gradient(#4851FF, #F02AA6);
        color: white;
        border: none;
        border-radius: 28px;
        padding: 9px 24px 11px;
        text-align: center;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
}

@media (min-width: 768px) {
    header {
        margin: 24px 40px 99px 39px;
    }

    .hero-section {
        flex-direction: row;
        position: relative;
        margin-bottom: 186px;
        z-index: 500;
        overflow: hidden;
    }

    #left-container {
        margin-left: 39px;
        max-width: 398px;
    }

    #left-container > h1 {
        margin-bottom: 26px;
    }

    .hero-image {
        content: url("images/image-hero-tablet@2x.webp");
        max-width: 640.71px;
        position: absolute;
        top: -188px;
        right: -246px;
        z-index: 501;
    }

    .course-section {
        display: grid;
        margin: 0 40px 86px 39px;
        grid-template-columns: 1fr 1fr;
        /* grid-template-columns: 339px 339px; */
        /* grid-template-rows: 259px; */
        /* grid-auto-rows: 259px; */
        justify-content: stretch;
        /* position: relative; */
        /* overflow: hidden; */
    }

    #course-grid-intro {
        background-image: linear-gradient(#ff6f48, #f02aa6);
        padding: 56px 21px 139px 32px;
        margin-right: 10px;
        margin-bottom: 56px;
        border-radius: 10px;
        max-width: 339px;
    }

    .course-grid-item {
        margin: 0 10px 56px 0;
        padding: 56px 22px 32px 32px;
        /* height: 259px; */
    }

    .course-grid-item > img {
        position: absolute;
    }

    .course-grid-item > h2 {
        margin-top: 0;
    }

    .course-grid-item > p {
        line-height: 26px;
        margin-top: 0;
        /* font-size: 15px; */
    }

    /* .course-grid-item > a {
        font-size: 17px;
    } */

    footer {
        padding: 36px 39px 40px;
    }

}
